<% provide(:title, @user.name) %>
<div class="row">
  <%= render partial: "articles/article", object: @user%>
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
      <br>
    </section>
  </aside>




